<header>

    <div class="logo">
        <i class="fa-solid fa-utensils"></i>
        <a routerLink="/home">
            <p>Flavor<span class="verse-pink">Verse</span></p>
        </a> <!-- All -->
    </div>

    <!-- Mobile Menu Toggler -->
    <input type="checkbox" id="mobileMenuToggler" class="mobileTogglerCheckbox">
    <label for="mobileMenuToggler" class="mobileToggler">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
    </label>

    <nav class="header-nav">
        <ul class="header-menu">
            <li><a routerLink="/home">Home</a></li> <!-- All  -->
            <li><a routerLink="/recipes">Recipes</a></li> <!-- All -->
            <li><a routerLink="/search">Search</a></li> <!-- All -->
            <li><a routerLink="/about-us">About us</a></li> <!-- All -->

            @if(isLoggedIn) {
            <li><a routerLink="/add-recipe">Add Recipe</a></li> <!-- Authenticated -->
            <li><a routerLink="/profile">Profile</a></li> <!-- Authenticated -->
            }
        </ul>
    </nav>

    <div class="auth-btns">
        @if(isLoggedIn) {
            <a class="logout" (click)="logout()">Logout</a>
        } @else {
            <a routerLink="/login" class="login">Log in</a> <!-- With profile -->
            <a routerLink="/register" class="signup">Sign up</a> <!-- Without profile -->
        }
        
    </div>

</header>