<header>

    <div class="logo">
        <i class="fa-solid fa-utensils"></i>
        <a href="#">
            <p>Flavor<span class="verse-pink">Verse</span></p>
        </a> <!-- All -->
    </div>

    <!-- Mobile Menu Toggler -->
    <input type="checkbox" id="mobileMenuToggler" class="mobileTogglerCheckbox">
    <label for="mobileMenuToggler" class="mobileToggler">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
    </label>

    <nav class="header-nav">
        <ul class="header-menu">
            <li><a href="#">Home</a></li> <!-- All  -->
            <li><a href="#">Recipes</a></li> <!-- All -->
            <li><a href="#">Search</a></li> <!-- All -->
            <li><a href="#">About us</a></li> <!-- All -->

            <li><a href="#">Add Recipe</a></li> <!-- Authenticated -->
            <li><a href="#">Profile</a></li> <!-- Authenticated -->
        </ul>
    </nav>

    <div class="auth-btns">
        <a href="#" class="login">Log in</a> <!-- With profile -->
        <a href="#" class="signup">Sign up</a> <!-- Without profile -->
        <!-- <a href="#" class="logout">Logout</a> --><!-- Authenticated -->
    </div>

</header>
