<section class="home-hero">

    <div class="home-hero-info">
        <div class="heading">
            <h1>Your Daily Dish</h1>
            <h1>A <span class="food-pink">Food</span> Journey</h1>
        </div>

        <p>Discover a universe of recipes from every corner of the world. Whether you’re craving spicy, sweet,
            savory, or exotic, we’ve got something to ignite your taste buds!</p>

        <div class="home-hero-btn">
            <a routerLink="/recipes">Explore Recipes</a>
        </div>

    </div>

    <div class="hero-dish">
        <div class="main-hero-dish">
            <img src="home-images/pasta.png" class="pasta" alt="pasta">
        </div>
        <img src="home-images/basil.png" class="basil1" alt="basil">
        <img src="home-images/basil.png" class="basil2" alt="basil">
        <img src="home-images/basil.png" class="basil3" alt="basil">
    </div>

</section>

<section class="home-share">

    <div class="share-img">
        <img src="home-images/picture-of-a-meal.png" alt="picture of a meal">
    </div>

    <div class="share-info">
        <h1>Share Your <span>Recipes</span></h1>
        <p class="share-p">Love to cook? Share your favorite recipes and let others experience the magic of your
            kitchen. Inspire fellow food lovers with your culinary creations!</p>

        @if(isLoggedIn) {
        <a routerLink="/add-recipe">Create New Recipe</a>
        } @else {
        <p class="share-not-authenticated"><a routerLink="/login">Log in</a> or <a routerLink="/register">Sign up</a>
            (if you don't have an
            account) to share your recipes</p>
        }

    </div>
</section>

<section class="home-recent-recipes">
    <h3>Recent Recipes</h3>

    @if(isLoading) {
    <app-loader />
    } @else {
    @if(recipes.length > 0) {
    <a class="home-recent-recipes-btn" routerLink="/recipes">View more</a>

    <div class="recent-recipes-cards">
        @for (recipe of recipes; track $index) {
        <div class="recipe-card">
            <img src={{recipe.img}}>
            <a routerLink="/recipes/{{recipe._id}}" class="more-details-btn">More details</a>
            <h6>{{recipe.name}}</h6>

            <div class="recipe-cals">
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> {{recipe.calories}} cals</p>
                </div>
            </div>
        </div>
        }

    </div>
    } @else {
    <div class="no-recent-recipes">
        <h3>There are no recipes yet! <i class="fa-regular fa-face-sad-tear"></i></h3>
    </div>
    }
    }



</section>

<section class="what-we-offer">

    <div class="all-offers">

        <div class="offer">
            <i class="fa-solid fa-earth-europe"></i>

            <div class="promise">
                <h4>Global Recipe Collection</h4>
                <h5>Explore dishes worldwide</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-receipt"></i>

            <div class="promise">
                <h4>Easy Cooking Guides</h4>
                <h5>Simple steps, great results</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-bowl-food"></i>

            <div class="promise">
                <h4>Creative Meal Ideas</h4>
                <h5>Inspire your next meal</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-user-group"></i>

            <div class="promise">
                <h4>Vibrant Food Community</h4>
                <h5>Connect with food lovers</h5>
            </div>

        </div>
    </div>

</section>