<section class="register-section">

    <div class="register-div">


        <div class="register-image">
            <img src="register-images/register-photo.png" alt="food">
        </div>


        <div class="register-form-div">
            <h1 class="form-h1">Sign Up To Join Our Family!</h1>


            <form action="" class="register-form">

                <div class="first-name">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" id="first-name" name="first-name" placeholder="John">
                </div>

                <div class="lastName">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" id="last-name" name="last-name" placeholder="Smith">
                </div>

                <div class="email">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="johnsmith@abv.bg">
                </div>

                <div class="password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="****">
                </div>

                <div class="re-password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="repeatPassword" id="repeatPassword" name="repeatPassword" placeholder="****">
                </div>

                <input type="submit" value="Sign up">
                <p>Already have an account? <a href="#">Log in</a></p>

            </form>

            <div class="logo">
                <i class="fa-solid fa-utensils"></i>
                <a href="#">
                    <p>Flavor<span class="verse-pink">Verse</span></p>
                </a>
            </div>

        </div>

        <img src="register-images/pink-cake.png" class="pink-cake" alt="cake">
        <img src="register-images/salad.png" class="salad" alt="salad">

    </div>
</section>
