<section class="search">

    <h1 class="search-h1">Search</h1>

    <div class="search-container">
        <input type="search" [(ngModel)]="searchValue" placeholder="Pasta">
        <button class="search-btn" [disabled]="!searchValue.trim()" (click)="onSearch()"
            [style.cursor]="!searchValue.trim() ? 'not-allowed' : 'pointer'"><i
                class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    @if(errorMessage) {
        <p class="error">{{errorMessage}}</p>
    }

    <div class="search-heading">
        <img src="search-images/pizza.png" class="pizza" alt="pizza">
        <h1>Search Results:</h1>
    </div>

    @if(isLoading) {
        <app-loader />
    } @else {
        <div class="results">
            @if(recipes.length > 0 && !errorMessage) {
                <div class="recipes-cards">
                    @for (recipe of recipes; track $index) {
                        <div class="recipe-card">
                            <img src={{recipe.img}}>
                            <a routerLink="/recipes/{{recipe._id}}" class="more-details-btn">More details</a>
                            <h6>{{recipe.name}}</h6>
            
                            <div class="recipe-cals">
                                <div class="calories">
                                    <p><i class="fa-solid fa-fire-flame-curved"></i> {{recipe.calories}} cals</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            } @else {
                 <div class="no-search-results">
                <h3>No Recipes found...</h3>
            </div>
            }
    
        </div>
    }

</section>

<section class="what-we-offer">

    <div class="all-offers">

        <div class="offer">
            <i class="fa-solid fa-earth-europe"></i>

            <div class="promise">
                <h4>Global Recipe Collection</h4>
                <h5>Explore dishes worldwide</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-receipt"></i>

            <div class="promise">
                <h4>Easy Cooking Guides</h4>
                <h5>Simple steps, great results</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-bowl-food"></i>

            <div class="promise">
                <h4>Creative Meal Ideas</h4>
                <h5>Inspire your next meal</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-user-group"></i>

            <div class="promise">
                <h4>Vibrant Food Community</h4>
                <h5>Connect with food lovers</h5>
            </div>

        </div>
    </div>

</section>