<section class="search">

    <h1 class="search-h1">Search</h1>

    <div class="search-container">
        <input type="search" placeholder="Pasta">
        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="search-heading">
        <img src="search-images/pizza.png" class="pizza" alt="pizza">
        <h1>Search Results:</h1>
        <!-- <img src="../spices.png" class="spices" alt="spices"> -->
    </div>

    <div class="results">

        <div class="recipes-cards">

            <div class="recipe-card">
                <img src="https://images7.alphacoders.com/129/1290221.jpg">
                <a href="#" class="more-details-btn">More details</a>
                <h6>Pizza</h6>

                <div class="recipe-person-cals">
                    <h5>John Smith</h5>
                    <div class="calories">
                        <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                    </div>
                </div>
            </div>

            <div class="recipe-card">
                <img src="https://images6.alphacoders.com/100/thumb-1920-1002794.jpg">
                <a href="#" class="more-details-btn">More details</a>
                <h6>Muffins</h6>

                <div class="recipe-person-cals">
                    <h5>Pamela Anderson</h5>
                    <div class="calories">
                        <p><i class="fa-solid fa-fire-flame-curved"></i> 530 cals</p>
                    </div>
                </div>
            </div>

            <div class="recipe-card">
                <img src="https://images.alphacoders.com/130/1308370.jpg">
                <a href="#" class="more-details-btn">More details</a>
                <h6>Pasta</h6>

                <div class="recipe-person-cals">
                    <h5>Elena Wilson</h5>
                    <div class="calories">
                        <p><i class="fa-solid fa-fire-flame-curved"></i> 390 cals</p>
                    </div>
                </div>
            </div>

            <div class="recipe-card">
                <img src="https://img.freepik.com/premium-photo/choclate-cake-4k-image_758367-103.jpg">
                <a href="#" class="more-details-btn">More details</a>
                <h6>Chocolade Cake</h6>

                <div class="recipe-person-cals">
                    <h5>Mary Smith</h5>
                    <div class="calories">
                        <p><i class="fa-solid fa-fire-flame-curved"></i> 794 cals</p>
                    </div>
                </div>
            </div>

            <div class="recipe-card">
                <img src="https://images7.alphacoders.com/129/1290221.jpg">
                <a href="#" class="more-details-btn">More details</a>
                <h6>Pizza</h6>

                <div class="recipe-person-cals">
                    <h5>John Smith</h5>
                    <div class="calories">
                        <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="no-search-results">
            <h3>No Recipes found...</h3>
        </div> -->

    </div>

</section>

<section class="what-we-offer">

    <div class="all-offers">

        <div class="offer">
            <i class="fa-solid fa-earth-europe"></i>

            <div class="promise">
                <h4>Global Recipe Collection</h4>
                <h5>Explore dishes worldwide</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-receipt"></i>

            <div class="promise">
                <h4>Easy Cooking Guides</h4>
                <h5>Simple steps, great results</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-bowl-food"></i>

            <div class="promise">
                <h4>Creative Meal Ideas</h4>
                <h5>Inspire your next meal</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-user-group"></i>

            <div class="promise">
                <h4>Vibrant Food Community</h4>
                <h5>Connect with food lovers</h5>
            </div>

        </div>
    </div>

</section>
