<section class="profile-heading-section">
    <div class="profile-heading">
        <h1>Profile</h1>
    </div>
</section>

<section class="profile-info-section">

    <div class="profile-info">

        <div class="profile-image">
            <img src="profile-images/profile.png" alt="user">
        </div>

        <div class="peronal-info-div">

            <div class="personal-info personal-info-first-name">
                <h5>FIRST NAME</h5>
                <p>John</p>
                <div class="personal-info-seperator"></div>
            </div>
            
            <div class="personal-info personal-info-last-name">
                <h5>LAST NAME</h5>
                <p>Smith</p>
                <div class="personal-info-seperator"></div>
            </div>

            <div class="personal-info personal-info-email">
                <h5>EMAIL</h5>
                <p>{{'john@abv.bg'}}</p>
                <div class="personal-info-seperator"></div>
            </div>

        </div>

    </div>

</section>

<section class="recipes-added-by-person-section">

    <div class="recipes-added-by-person-heading">
        <h2>Recipes added by you:</h2>
    </div>

    <!-- <div class="no-recipes-added-by-person">
        <p>There are not any recipes added by you! <i class="fa-regular fa-face-sad-tear"></i></p>
    </div> -->

    <div class="recipes-cards">

        <div class="recipe-card">
            <img src="https://images7.alphacoders.com/129/1290221.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pizza</h6>

            <div class="recipe-person-cals">
                <h5>John Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images6.alphacoders.com/100/thumb-1920-1002794.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Muffins</h6>

            <div class="recipe-person-cals">
                <h5>John Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 530 cals</p>
                </div>
            </div>
        </div>


    </div>
    
</section>
