<section class="add-recipe-section">

    <div class="add-recipe-div">

        <div class="add-recipe-form-wrapper">

            <h1>Add Recipe</h1>

            <form action="" class="add-recipe-form">

                <div class="dish-info dish-name">
                    <label for="name">Dish Name:</label>
                    <input type="text" placeholder="Pasta">
                </div>

                <div class="dish-info dish-image">
                    <label for="image">Image URL:</label>
                    <input placeholder="https://images.alphacoders.com/130/1308370.jpg">
                </div>

                <div class="dish-info dish-description">
                    <label for="dishDescription">Short Description:</label>
                    <textarea rows="5" placeholder="Pasta Bolognese is a classic Italian dish with a rich, meaty tomato sauce, served over pasta like tagliatelle or spaghetti. Perfect for a comforting and flavorful meal."></textarea>
                </div>

                <div class="dish-info dish-prepTime">
                    <label for="time">Prep Time (mins):</label>
                    <input type="number" placeholder="15">
                </div>
                
                <div class="dish-info dish-cookTime">
                    <label for="time">Cook Time (mins):</label>
                    <input type="number" placeholder="60">
                </div>

                <div class="dish-info dish-servings">
                    <label for="time">Servings:</label>
                    <input type="number" placeholder="4">
                </div>

                <div class="dish-info dish-calories">
                    <label for="time">Calories / per serving:</label>
                    <input type="number" placeholder="440">
                </div>

                <div class="dish-ingredients">
                    <h3>Ingredients</h3>
                    <div>
                      <input placeholder="Enter ingredient"/>
                      <button class="remove-btn" type="button">Remove</button>
                    </div>
                    <button class="add-something-btn" type="button">Add Ingredient</button>
                  </div>


                  <div class="dish-instructions">
                    <h3>Steps</h3>
                    <div>
                      <textarea placeholder="Enter instruction"></textarea>
                      <button class="remove-btn" type="button">Remove</button>
                    </div>
                    <button class="add-something-btn" type="button">Add Instruction</button>
                  </div>


                  <button class="add-recipe-btn" type="submit">Add Recipe</button>

            </form>

        </div>


    <div class="images-wrapper">

        <div class="add-recipe-image">
            <img src="add-recipe-images/meat.png" alt="meat">
        </div>

        <div class="add-recipe-image">
            <img src="add-recipe-images/some-dessert.png" alt="dessert">
        </div>

        <div class="add-recipe-image">
            <img src="add-recipe-images/salad.png" alt="salad">
        </div>

        <div class="add-recipe-image">
            <img src="add-recipe-images/some-cake.png" alt="cake">
        </div>

        <div class="add-recipe-image">
            <img src="add-recipe-images/soup.png" alt="soup">
        </div>

        <div class="add-recipe-image">
            <img src="add-recipe-images/muffins.png" alt="muffins">
        </div>

        <div class="add-recipe-image">
            <img src="add-recipe-images/french-fries.png" alt="french fries">
        </div>


    </div>

</div>

</section>
