<section class="all-recipes">

    <div class="all-recipes-heading">
        <img src="recipes-catalog-images/fork.png" class="fork" alt="fork">
        <h1>All Recipes:</h1>
        <img src="recipes-catalog-images/dessert1.png" class="dessert1" alt="dessert">
    </div>

    @if(isLoading) {
        <app-loader />
    } @else {
        @if(recipes.length > 0) {
            <div class="recipes-cards">
                @for (recipe of recipes; track $index) {
                    <div class="recipe-card">
                        <img src={{recipe.img}}>
                        <a [routerLink]="recipe._id" class="more-details-btn">More details</a>
                        <h6>{{recipe.name}}</h6>
            
                        <div class="recipe-cals">
                            <div class="calories">
                                <p><i class="fa-solid fa-fire-flame-curved"></i> {{recipe.calories}} cals</p>
                            </div>
                        </div>
                    </div>
                } 
            </div>
        } @else {
            <div class="no-recipes">
                <h3>There are no recipes yet!</h3>
        
                @if(isLoggedIn) {
                    <div class="suggest-authenticated">
                        <a routerLink="/add-recipe">Add The First Recipe</a>
                    </div>
                } @else {
                    <div class="suggest-guest">
                        <p><a routerLink="/login">Log in</a> or <a routerLink="/signup">Sign up</a> <span>(if you don't have an
                            account)</span> to share your recipes</p> 
                    </div>
                }
            </div>
        }
    }


</section>

<section class="what-we-offer">

    <div class="all-offers">

        <div class="offer">
            <i class="fa-solid fa-earth-europe"></i>

            <div class="promise">
                <h4>Global Recipe Collection</h4>
                <h5>Explore dishes worldwide</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-receipt"></i>

            <div class="promise">
                <h4>Easy Cooking Guides</h4>
                <h5>Simple steps, great results</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-bowl-food"></i>

            <div class="promise">
                <h4>Creative Meal Ideas</h4>
                <h5>Inspire your next meal</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-user-group"></i>

            <div class="promise">
                <h4>Vibrant Food Community</h4>
                <h5>Connect with food lovers</h5>
            </div>

        </div>
    </div>

</section>
