<section class="all-recipes">

    <div class="all-recipes-heading">
        <img src="recipes-catalog-images/fork.png" class="fork" alt="fork">
        <h1>All Recipes:</h1>
        <img src="recipes-catalog-images/dessert1.png" class="dessert1" alt="dessert">
    </div>

    <!-- <div class="no-recipes">
        <h3>There are no recipes yet!</h3>

        <div class="suggest-guest">
            <p><a href="#">Log in</a> or <a href="#">Sign up</a> <span>(if you don't have an
                account)</span> to share your recipes</p> 
        </div>

        <div class="suggest-authenticated">
            <a href="#">Add The First Recipe</a>
        </div>
    </div> -->

    <div class="recipes-cards">

        <div class="recipe-card">
            <img src="https://images7.alphacoders.com/129/1290221.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pizza</h6>

            <div class="recipe-person-cals">
                <h5>John Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images6.alphacoders.com/100/thumb-1920-1002794.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Muffins</h6>

            <div class="recipe-person-cals">
                <h5>Pamela Anderson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 530 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images.alphacoders.com/130/1308370.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pasta</h6>

            <div class="recipe-person-cals">
                <h5>Elena Wilson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 390 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://img.freepik.com/premium-photo/choclate-cake-4k-image_758367-103.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Chocolade Cake</h6>

            <div class="recipe-person-cals">
                <h5>Mary Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 794 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images7.alphacoders.com/129/1290221.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pizza</h6>

            <div class="recipe-person-cals">
                <h5>John Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images6.alphacoders.com/100/thumb-1920-1002794.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Muffins</h6>

            <div class="recipe-person-cals">
                <h5>Pamela Anderson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 530 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images.alphacoders.com/130/1308370.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pasta</h6>

            <div class="recipe-person-cals">
                <h5>Elena Wilson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 390 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://img.freepik.com/premium-photo/choclate-cake-4k-image_758367-103.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Chocolade Cake</h6>

            <div class="recipe-person-cals">
                <h5>Mary Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 794 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images7.alphacoders.com/129/1290221.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pizza</h6>

            <div class="recipe-person-cals">
                <h5>John Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images6.alphacoders.com/100/thumb-1920-1002794.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Muffins</h6>

            <div class="recipe-person-cals">
                <h5>Pamela Anderson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 530 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images.alphacoders.com/130/1308370.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pasta</h6>

            <div class="recipe-person-cals">
                <h5>Elena Wilson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 390 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://img.freepik.com/premium-photo/choclate-cake-4k-image_758367-103.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Chocolade Cake</h6>

            <div class="recipe-person-cals">
                <h5>Mary Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 794 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images7.alphacoders.com/129/1290221.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pizza</h6>

            <div class="recipe-person-cals">
                <h5>John Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 500 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images6.alphacoders.com/100/thumb-1920-1002794.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Muffins</h6>

            <div class="recipe-person-cals">
                <h5>Pamela Anderson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 530 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://images.alphacoders.com/130/1308370.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Pasta</h6>

            <div class="recipe-person-cals">
                <h5>Elena Wilson</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 390 cals</p>
                </div>
            </div>
        </div>

        <div class="recipe-card">
            <img src="https://img.freepik.com/premium-photo/choclate-cake-4k-image_758367-103.jpg">
            <a href="#" class="more-details-btn">More details</a>
            <h6>Chocolade Cake</h6>

            <div class="recipe-person-cals">
                <h5>Mary Smith</h5>
                <div class="calories">
                    <p><i class="fa-solid fa-fire-flame-curved"></i> 794 cals</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="what-we-offer">

    <div class="all-offers">

        <div class="offer">
            <i class="fa-solid fa-earth-europe"></i>

            <div class="promise">
                <h4>Global Recipe Collection</h4>
                <h5>Explore dishes worldwide</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-receipt"></i>

            <div class="promise">
                <h4>Easy Cooking Guides</h4>
                <h5>Simple steps, great results</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-bowl-food"></i>

            <div class="promise">
                <h4>Creative Meal Ideas</h4>
                <h5>Inspire your next meal</h5>
            </div>

        </div>

        <div class="offer">
            <i class="fa-solid fa-user-group"></i>

            <div class="promise">
                <h4>Vibrant Food Community</h4>
                <h5>Connect with food lovers</h5>
            </div>

        </div>
    </div>

</section>
