.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.logo {
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 450;
    font-size: 30px;
    letter-spacing: 0.4px;
}

.logo i {
    font-size: 25px;
}

.logo p .verse-pink {
    color: #B76156;
}

.login-div {
    position: relative;
    display: flex;
    max-width: 1200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* overflow: hidden; */
    padding: 25px;
}

.cake, .chicken {
    position: absolute;
    width: 180px;
}

.cake {
    top: -100px;
    right: -30px;
    transform: rotate(20deg);
}

.chicken {
    bottom: -70px;
    left: -30px;
    transform: rotate(10deg);
    width: 150px;
}

/* Image styling */
.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-image {
    flex: 1;
}

/* Form container styling */
.login-form-div {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Form styling */
 .login-form {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 100px; */
    margin-top: 90px;
}

.form-h1 {
    font-size: 35px;
    color: #B65F54;
    font-family: 'Playfair Display', sans-serif;
    /* margin-bottom: 150px; */
}

.login-form > div {
    position: relative;
    margin-bottom: 5px;
}

.login-form i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 19px;
    color: #9e9e9e;
}

.login-form input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    margin-left: 10px;
}

.login-form input:focus {
    border-color: #a06356;
    border-bottom: 3px solid #B65F54;
}

.login-form input[type="submit"] {
    width: 30%;
    padding: 10px 10px 10px 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #a06356;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
}

.login-form input[type="submit"]:hover {
    background-color: #854c44;
}

.login-form p {
    text-align: start;
    margin-top: 20px;
    margin-left: 16px;
}

.login-form p a {
    color: #a06356;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}

/* Logo section */
.login-form-div .logo {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: -50px;
}

@media screen and (max-width: 768px) {

    .login-section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 120px 20px;
        overflow: hidden;
    }
    
    .login-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cake, .chicken {
        position: absolute;
        width: 150px;
    }
    
    .chicken {
        width: 140px;
    }
    
    /* Form container styling */
    .login-form-div {
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    
    /* Form styling */
     .login-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    
    .form-h1 {
        text-align: center;
    }

    
}

