<section class="login-section">

    <div class="login-div">


        <div class="login-image">
            <img src="login-images/login-photo.png" alt="food">
        </div>


        <div class="login-form-div">
            <h1 class="form-h1">Log in to your account:</h1>


            <form action="" class="login-form">

                <div class="email">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="johnsmith@abv.bg">
                </div>

                <div class="password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="****">
                </div>

                <input type="submit" value="Login">
                <p>Don't have an account? <a href="#">Sign up</a></p>

            </form>

            <div class="logo">
                <i class="fa-solid fa-utensils"></i>
                <a href="#">
                    <p>Flavor<span class="verse-pink">Verse</span></p>
                </a>
            </div>

        </div>

        <img src="login-images/cake-login.png" class="cake" alt="cake">
        <img src="login-images/chicken-login.png" class="chicken" alt="chicken">

    </div>
</section>
