footer {
    display: flex;
    padding: 50px 100px 40px 100px;
    flex-direction: column;
    gap: 30px;
    background: #F5F5F5;
}

.logo {
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 450;
    font-size: 30px;
    letter-spacing: 0.4px;
}

.logo i {
    font-size: 25px;
}

.logo p .verse-pink {
    color: #B76156;
}

.first-footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.footer-info {
    flex: 0 0 calc(60% - 40px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-p {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-p p:nth-of-type(1) {
    color: #686868;
}

.footer-p p:nth-of-type(2) {
    color: #B65F54;
    font-style: italic;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-links h6 {
    font-size: 17px;
}

.footer-nav .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-nav .footer-menu li a {
    color: #686868;
}

.footer-nav .footer-menu li:hover {
    text-decoration: underline;
    color: grey;
}

.footer-line {
    background: #DADADA;
    width: 100%;
    height: 2px;
}

.second-footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-footer-info p {
    color: #5E5E5E;
    font-size: 15px;
}

.social {
    display: flex;
    gap: 30px;
}

.social i {
    font-size: 20px;
    font-weight: 700;
}

.social a:hover {
    color: #B65F54;
}

@media screen and (max-width: 768px) {
    .first-footer-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-info .logo {
        align-self: center;
    }

    .second-footer-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    
}