<footer>

    <div class="first-footer-info">

        <div class="footer-info">

            <div class="logo">
                <i class="fa-solid fa-utensils"></i>
                <a href="#">
                    <p>Flavor<span class="verse-pink">Verse</span></p>
                </a>
            </div>

            <div class="footer-p">
                <p>At FlavorVerse, we believe food is more than just a meal—it's an experience. Discover new
                    flavors,
                    share your favorite recipes, and connect with a community that celebrates creativity in the
                    kitchen.
                </p>
                <p class="footer-info-pink">Where flavors meet creativity.</p>
            </div>
        </div>

        <div class="footer-links">
            <h6>Legal</h6>

            <nav class="footer-nav">
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy & Cookies</a></li>
                </ul>
            </nav>

        </div>

    </div>

    <div class="footer-line"></div>

    <div class="second-footer-info">
        <p>&copy; 2024 FlavorVerse. All Rights Reserved</p>

        <div class="social">
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>


</footer>
